<!DOCTYPE html>
<html>
  <head>
    <title>Failed Login</title>
    
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/stylesheets/sweet-alert.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	
	    	<script src="/js/sweet-alert.js"></script>
	  
  </head>
  <body>
      	<nav class="navbar navbar-inverse">
  <div class="container-fluid bgblue">
    <div class="navbar-header">
      <img src="/photos/lnlogo.gif" style="margin-left: 150px;margin-top: 7px;">
    </div>
    <div>
      <ul class="nav navbar-nav">
        
      </ul>
    </div>
  </div>
</nav>
    <h1>Please <em><a href="/" >Login</a> </em>to access this page</h1>
    
    
  </body>
</html>