<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	
 </head>
 <body ng-app="" ng-controller="loginController">
<div class="container-fluid bgblue"  style="margin-top: -50px;margin-left: -50px;margin-right: -50px;">
<div class="row" style="background-color:lavender;">
<div class="col-sm-2" >
  <p></p>
  <img src="/Photos/logo.png" >
 </div> 
<div class="col-sm-10" id="">    
<p></p>
</br>     
                <a href="/profile">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#summary">Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#languages">Connections</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/">Logout</a>     
        
    </div> 		
   </div>

            <div class="container" id="profile">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                     </br>
                        </br>
                        <div class="well well-sm">
                       
                          <div class="row" style="margin-left: 0px;">
                          <div class="col-sm-4">
                            <img src="/Photos/santosh_large.jpg">
                            
                           </div>
                           <div class="col-sm-8" >
                           <b><font size="5">Santosh Sibyala  </b></font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span>
                           <p></p>
                           <font size="4"><p></font>&nbsp;&nbsp;&nbsp;</p>
                           <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                           </br>
                           <p><font color="grey"></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                           <p><font color="grey"></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                           </div>
                                   
                              </p>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
 <!-- summary -->
 <div class="container"id="summary">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                     </br>
                        </br>
                        <div class="well well-sm">
                       
                          <div class="row" style="margin-left: 0px;">
                          <div class="col-sm-12">
                          <p><font color="grey" size="4"><b>Summary</b></font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                          <p></p>                           
                              
                          </div>
                        </div>
                    </div>
                </div>
              </div>             
            </div>
<!-- Languages -->
 <div class="container" id="languages">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                     </br>
                        </br>
                        <div class="well well-sm">
                       
                          <div class="row" style="margin-left: 0px;">
                          <div class="col-sm-12">  
                           <p><font color="grey" size="4"><b>Languages</b></font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                           
                           <p> <font size="3"></font></p>
                            <p> <font size="3"></font></p>
                             <p> <font size="3"></font></p>
                            
                          </div>
                        </div>
                    </div>
                </div>
              </div>             
            </div>
  <!--  Skills -->
   <div class="container" id="skills">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                     </br>
                        </br>
                        <div class="well well-sm">
                       
                          <div class="row" style="margin-left: 0px;">
                          <div class="col-sm-12">  
                           <p><font color="grey" size="4"><b>Skills & Endorsements</b></font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                           <p><font size="3"></font></p>
                           <p> <font size="3"></font></p>
                            <p> <font size="3"></font></p>
                             <p> <font size="3"></font></p>
                             <p> <font size="3"></font></p>
                             
                          </div>
                        </div>
                    </div>
                </div>
              </div>             
            </div>
  <!--  Experience -->
     <div class="container" id="experience">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                     </br>
                        </br>
                        <div class="well well-sm">
                       
                          <div class="row" style="margin-left: 0px;">
                          <div class="col-sm-12">  
                           <p><font color="grey" size="4"><b>Experience</b></font><span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                           <p></p>
                           <p> <font size="3"></font>&nbsp;&nbsp;&nbsp;</p>
                            <p> <font size="3" color="grey"></font></p>
                             <p> <font size="3" color="grey"></font></p>
                        
                          </div>
                        </div>
                    </div>
                </div>
              </div>             
            </div>
   <!--  Projects -->
     <div class="container" id="projects">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                     </br>
                        </br>
                        <div class="well well-sm">
                       
                          <div class="row" style="margin-left: 0px;">
                          <div class="col-sm-12">  
                           <p><font color="grey" size="4"><b>Projects</b></font><span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                           <p></p>

 </p>
                           
                             
                          </div>
                        </div>
                    </div>
                </div>
              </div>             
            </div>
 <!-- Education -->
      <div class="container" id="education">
                <div class="row" id="exp_row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                     </br>
                        </br>
                        <div class="well well-sm">
                       
                                                 <div class="row" style="margin-left: 0px;">
                          <div class="col-sm-12">  
                           <p><font color="grey" size="4"><b>Education</b></font><span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                           <p></p>

                           <!--  <p> <font size="3" >Jawaharlal Nehru Technological University</font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                            <p> <font size="3" color="grey">Bachelors's Degree, Computer Science and Engineering</font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                             <p> <font size="3">2009-2013</font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                              <p> <font size="3">Role: Undergraduate Student</font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                              <p><font size="3">Courses Taken:</font>&nbsp;&nbsp;&nbsp;<span ng-click="" class="glyphicon glyphicon-pencil" ></span></p>
                              <p>C, C++,Java, Operating Systems, Computer Architecture, Computer Networks, Design Patterns, Data Structures<p>-->
                             
                             
                             
                          </div>
                        </div>
                    </div>
                </div>
              </div>             
            </div>
    <!-- edit -->
    <form id="editProfile">
            <div class="container" id="edit">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md8">
                        <div class="well well-sm">
                          <div class="row" style="margin-left: 20px;">
                          <p><font color="grey" size="4"><b>Edit your Details</b></font></p>
                             FirstName: 
                             <span  class="glyphicon glyphicon-pencil" onClick="inputFirstName()" ></span>
                              <p ng-hide="inputfirstname">
                                    <input id="fname" ng-model="inputFirstName" class="form-control" type="text" placeholder="" name="inputFirstName" style="" value=<%= firstName %>>
                              </p>
                          </div>
                          <div class="row" style="margin-left: 20px;">
                             LastName: 
                             <span  class="glyphicon glyphicon-pencil" onClick="inputLastName()"></span>
                              <p ng-hide="inputlastname">
                                     <input id="lname" ng-model="inputLastName" class="form-control" type="text" placeholder="" name="inputLastName" style="" value=<%= lastName %>>
                              </p>
                          </div>
                          <div class="row" style="margin-left: 20px;">
                             Email: 
                             
                                     <input id="email" ng-model="inputEmailAddress" class="form-control" type="email" placeholder="" name="inputEmailAddress" style="" value=<%= email_id %>>
                              </p>
                          </div>
                      
                          <div class="col-md-8">
                                <input type="button" onClick="/saveProfile" class="btn btn-primary" value="Save Changes">
                                <span></span>
                                <input type="reset" onClick="reset()" class="btn btn-default" value="Cancel">
                              </div>
                        </div>
                    </div>
                </div>
              </div>
              </form>
              </div>
<input type="hidden" value=1 id="education_row_cnt"/>

               <script>
               var inputFirstName=function(){
            	   
            	   document.getElementById('fname').value="";
               };
               var inputLastName=function(){
            	   document.getElementById('lname').value="";
                  	
                };
                var reset=function(){
                	document.getElementById('editProfile').reset;
                
                };
                var add=function(){
                	var current_row = parseInt(document.getElementById('education_row_cnt').value);
                	var new_row_no=  current_row+1;
                    var exprow = "<div class='row' id='edu_row_"+new_row_no+"'>\
            	    <div class='col-xs-6 col-sm-8 col-md8'>\
        	        <div class='well well-sm'>\
        	          <div class='row'>\
        	             <center><legend>Education "+new_row_no+"</legend></center>\
        	             <div class='form-group'>\
        	                <label class='col-sm-2 control-label' for='school_"+new_row_no+"'>School:</label>\
        	                		<div class='col-sm-9'>\
        	                <input type='text' ng-model='school_"+new_row_no+"' name='school_"+new_row_no+"' id='school_"+new_row_no+"' placeholder='' class='form-control'>\
        	                </div>\
        	              </div>\
        	              <div class='form-group'>\
        	                <label class='col-sm-2 control-label' for='field_"+new_row_no+"'>Field:</label>\
        	                <div class='col-sm-9'>\
        	                  <input type='text' ng-model='field_"+new_row_no+"' name='field_"+new_row_no+"' id='field_"+new_row_no+"' placeholder='' class='form-control'>\
        	                </div>\
        	              </div>\
        	              <div class='form-group'>\
        	                <label class='col-sm-2 control-label' for='level_"+new_row_no+"'>Degree level:</label>\
        	                <div class='col-sm-9'>\
        	                  <input type='text' ng-model='level_"+new_row_no+"' name='level_"+new_row_no+"'  id='level_"+new_row_no+"' placeholder='' class='form-control'>\
        	                </div>\
        	              </div>\
        	              <div class='form-group'>\
        	                <label class='col-sm-2 control-label' for='startdate1_"+new_row_no+"'>Start Date:</label>\
        	                <div class='col-sm-9'>\
        	                  <input type='date' ng-model='startdate1_"+new_row_no+"' name='startdate1_"+new_row_no+"' id='startdate1_"+new_row_no+"'  placeholder='YYYY-MM-DD' pattern='[0-9]{4}-[0-9]{2}-[0-9]{2}' required class='form-control'>\
        	                </div>\
        	              </div>\
        	                <div class='form-group'>\
        	                <label class='col-sm-2 control-label' for='enddate1_"+new_row_no+"'>End Date:</label>\
        	                <div class='col-sm-9'>\
        	                  <input type='date' ng-model='enddate1_"+new_row_no+"' id='enddate1_"+new_row_no+"' name='enddate1_"+new_row_no+"' placeholder='YYYY-MM-DD' pattern='[0-9]{4}-[0-9]{2}-[0-9]{2}'  required class='form-control'></div>\
        	              </div>\
        	                <label class='col-sm-2 control-label' for='desc1_"+new_row_no+"' style='margin-top: 10px;'>Description:</label>\
        	                <div class='col-sm-9'>\
        	                  <textarea class='field span5' ng-model='desc1_"+new_row_no+"' id='desc1_"+new_row_no+"' name='desc1_"+new_row_no+"' rows='5' id='comment'\
        	                 style='width: 100%; '></textarea>\
        	                </div>\
        	              <input type='button' class='bfloatr'  onclick='deledurow()' value='Delete Education' />\

        	              </div>\
        	          </div>\
        	        </div>\
        	    </div>'";
                $(exprow).insertAfter('#education');
                //alert("hi");

                document.getElementById('education_row_cnt').value = new_row_no;
                //var elem= document.getElementById('#exp_row_'+new_row_no);
                };
                
                function deledurow(){
                	var current_row = parseInt(document.getElementById('education_row_cnt').value);
                	//alert(current_row);
                	$('#edu_row_'+current_row).remove();
                	if(current_row>1){
                	document.getElementById('edu_row_cnt').value = current_row-1;
                	}
                };
                function educationController($scope,$http,$location)
            	{
                	var new_row_no = parseInt(document.getElementById('education_row_cnt').value);
                	
            		$scope.save = function()
            		{
            			console.log("hai");
            			//console.log($scope.school_"+new_row_no+");
            			
            	    	/*$http({
            	            method: 'POST',
            	            url: '/save',
            	            data: { "school": $scope.school_"+new_row_no+", "password": $scope.inputPassword }
            	    
            	         }).success(function(response)
            	        	{
            	           
            	            	
            	        	}).error(function(error)
            	        		{
            	            		
            	        	});*/
            	        	
            	    };
                	
            	};
        </script>
 </body>	